__pycache__
.cache
*/__pycache__
*/*/__pycache__
logs
venv
.env
.gitignore
prompt.md
readme.md
requirements-dev.txt
static/hash.py
.mcp
launcher.py
winx64.spec
render.yaml
Dockerfile
docker-compose.yaml