__pycache__
.cache
*/__pycache__
*/*/__pycache__
docker-compose.yaml
app/data
app/logs
requirements/dev.txt
specs/win_64.spec
specs/mac_arm64.spec
README.md
launcher.py
render.yaml
.gitignore
.vscode
.mcp
.github
app/.env
venv
test