.skeleton {
    position: relative;
}

.skeleton:empty::after {
    content: "";
    display: block;
    width: 100%;
    height: 1em;
    border-radius: 0.25rem;
    background-color: rgb(229 231 235);
}

.dark .skeleton:empty::after {
    background-color: rgb(38 38 38);
}

.pulse {
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}
